
.table-container {
  width: 1100px;
}

.filter-icon {
  transform: scale(1.5);
}

.right-button {
  float: right;
}

mat-form-field {
  font-size: 15px;
  padding-top: 20px;
}


mat-card {
  padding: 10px 20px;
  height: 80px;
  background-color: #F4F7FC;
}

button {
  height: 40px;
  align-items: center;
  mat-icon{
    margin-right: 5px;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: #F4F7FC;
}


td mat-icon {
  color: #DAE1EC;
}
