<div class="table-container">
  <mat-card fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-icon-button fxFlex="6" fxLayout="column">
      <mat-icon color="primary" aria-hidden="false" aria-label="Filter" class="filter-icon">filter_list</mat-icon>
    </button>

    <div  fxFlex="30" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>


    <div fxFlex></div>

    <button mat-raised-button color="primary" class="right-button" fxFlex="18" fxLayout="column">
      <mat-icon>add_circle_outline</mat-icon>
      Add Customer
    </button>
  </mat-card>
</div>

